<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="capaPresentacion.Properties.Settings.dbinventarioConnectionString"
            connectionString="Data Source=(local);Initial Catalog=dbinventario;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>