<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="POS_TZA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="dbsqlite" connectionString="Data Source=./Resources/dbinventario.db;Version=3;New=False;Compress=True;"/>
  </connectionStrings>
  <applicationSettings>
    <POS_TZA.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="pathXMLconfig" serializeAs="String">
        <value>capaPresentacion\configgeneral.xml</value>
      </setting>
    </POS_TZA.Properties.Settings>
  </applicationSettings>
</configuration>